@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body
{
margin: 0;
padding: 0;
font-family: 'Poppins',sans-serif;
}
section
{
height: 100vh;
background: #fff;
}
section:before
{
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0,  #0f0, #f00);
mix-blend-mode: color;
pointer-events: none;

}
video
{
object-fit: cover;
top: 0;
bottom: 0;
width: 100%;
height: 100%; 
min-width: 100%; 
min-height: 100%;
position: center;
}
h1
{
margin: 0;
padding: 0;
position: absolute;
top: 50%;
transform: translateY(-50%);
width: 100%;
text-align: center;
color: #fff;
font-size: 12vw;
letter-spacing: 0.4vw;
}
h1 span
{
opacity: 0;
display: inline-block;
animation: animate 1s linear forwards;
}
@keyframes animate
{
0%
{
opacity: 0;
transform: rotateY(90deg);
filter: blur(10px)
}
100%
{
opacity: 1;
transform: rotateY(0deg);
filter: blur(0);
}
}
h1 span:nth-child(1)        /*A*/
{
	animation-delay:0.5s;
}
h1 span:nth-child(2)        /*B*/
{
	animation-delay:1s;
}
h1 span:nth-child(3)        /*H*/
{
	animation-delay:1.4s;
}
h1 span:nth-child(4)        /*I*/
{
	animation-delay:1.7s;
}
h1 span:nth-child(5)        /*S*/
{
	animation-delay:2s;
}
h1 span:nth-child(6)        /*H*/
{
	animation-delay:2.3s;
}
h1 span:nth-child(7)        /*E*/
{
	animation-delay:2.5s;
}
h1 span:nth-child(8)        /*K*/
{
	animation-delay:3s;
}
h1 span:nth-child(10)        /*R*/
{
	animation-delay:3.5s;
}
h1 span:nth-child(11)        /*O*/
{
	animation-delay:3.75s;
}
h1 span:nth-child(12)        /*U*/
{
	animation-delay:4.25s;
}
h1 span:nth-child(13)        /*T*/
{
	animation-delay:5s;
}
h1 span:nth-child(14)
{
    animation-delay: 5s;
}
h1 span:nth-child(15)
{
    animation-delay: 6s;
}
h1 span:nth-child(16)
{
    animation-delay: 6.4s;
}
