@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* 
{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.container .section 
{
	position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    background-blend-mode: multiply;
}
.container .section:nth-child(1)
{
    background: #f00 url(https://source.unsplash.com/1366x768/?keyboard);
    background-size: cover;
    background-attachment: fixed;
}
.container .section:nth-child(2)
{
    background: #0f0 url(https://source.unsplash.com/1366x768/?plant);
    background-size: cover;
    background-attachment: fixed;
}
.container .section:nth-child(3)
{
    background: #ff0 url(https://source.unsplash.com/1366x768/?pens);
    background-size: cover;
    background-attachment: fixed;
}
.container .section:nth-child(4)
{
    background: #0ff url(https://source.unsplash.com/1366x768/?skyscraper);
    background-size: cover;
    background-attachment: fixed;
}
.container .section:nth-child(5)
{
    background: #00f url(https://source.unsplash.com/1366x768/?coffee,cup);
    background-size: cover;
    background-attachment: fixed;
}
.container .section .content
{
    position: absolute;
    bottom: 50px;
    left: 50px;
    max-width: 700px;
}
.container .section .content h2
{
    background: #fff;
    color: #111;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    font-size: 2em;
}
.container .section .content p
{
    background: #fff;
    color: #111;
    font-weight: 300;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
}
