@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;    
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}
span
{
    color: crimson;
}

.cta {
	display: inline-block;
	padding: 7px 15px;
	color: crimson;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1.9rem;
    border-radius: 20px;
	letter-spacing: .1rem;
	margin-top: 20px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1480px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .1rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 12.3px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

#experience .experience
{
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 86vh;
    background: linear-gradient(45deg, #333399,#4ca2cd, #d400ff);
}
#experience h1
{
    top: 60px;
    position: absolute;
    font-size: 4rem;
    font-weight: 400;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#experience .card .content h2
{
    font-size: 1.95rem;
    position: relative;
	color: black;
	text-align: center;
}
#experience .card .content ul
{
    font-size: 1.5rem;
    padding: 15px;
    position: relative;
	color: black;
	text-align: left;
}
#experience .contain
{
    position: relative;
    width: 1480px;
    padding: 20px;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#experience .contain .card
{
    position: relative;
    width: 320px;
    height: 360px;
    background: #fff;
    margin: 42px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    transition: 0.5s;
}
#experience .contain:hover .card
{
    transform: scale(0.9);
    opacity: 0.5;
}
#experience .contain .card:hover
{
    transform: scale(1.1);
    opacity: 1;
}
#experience .contain .card .circle
{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
	padding: 10px;
    text-align: center;
}
#experience .contain .card .circle img
{
    width: 100px;
}
#experience .contain .card .content
{
    position: absolute;
    bottom: 5px;
    padding: 15px;
    text-align: left;
}
/* End Achievement*/

#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    justify-content: center;
    align-items: center;
}
#footer .footer {
	min-height: 100px;
	flex-direction: column;
	padding-top: 0px;
	padding-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 10px;
    position: relative;
    right: 25px;
}
#footer .social-item {
	height: 20px;
	width: 40px;
	margin: 10px;
}
#footer .social-item img {
	filter: grayscale(1);
	width: 50px;
	transition: .3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
    text-align: center;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#skills .skills-bottom .skills-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
