@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* 
{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #112128;
}
.container
{
    position: relative;
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container .card
{
    position: relative;
    max-width: 450px;
    background: #fff;
    padding: 10px;
    margin: 10px;
    display: flex;
    border-radius: 10px;
}
.container .card .imgBx
{
    max-width: 200px;
    flex: 0 0 200px;
}
.container .card .imgBx img
{
    max-width: 100%;
    border-radius: 10px;
}
.container .card .content
{
    margin-left: 20px;
}
@media (max-width: 991px)
{
    .container
    {
        flex-direction: column;
    }
}
@media (max-width: 768px) 
{
    .container
    {
        flex-direction: column;
    }
    .container .card
    {
        flex-direction: column;
        max-width: 350px;
    }
    .container .card .imgBx
    {
        max-width: 100%;
    }
    .container .card .content
    {
        margin: 0;
    }
}
