@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;
}
.center
{
    position: relative;
    width: 460px;
}
.center div
{
    position: relative;
    height: 100px;
    margin: -20px 0;
    z-index: 2;
    transform: skewY(-5deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center div:nth-child(2),
.center div:nth-child(4)
{
    transform: skewY(14.5deg);
    z-index: 1;
}
.center div:nth-child(4)
{
    transform: skewY(25deg);
    transform-origin: left;
    top: -52px;
}
.center div:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.center div:nth-child(1):before,
.center div:nth-child(3):before
{
    background: linear-gradient(-160deg,#ff0058,#673ab7);
    transform: scaleX(0);
}
.center div:nth-child(2):before,
.center div:nth-child(4):before
{
    background: linear-gradient(-20deg,#ff0058,#38009c);
    transform: scaleX(0);
}
.center div:nth-child(1):before
{
    animation: animate 1s linear forwards;
    transform-origin: right;
}
.center div:nth-child(2):before
{
    animation: animate 1s linear forwards;
    transform-origin: left;
    animation-delay: 1s;
}
.center div:nth-child(3):before
{
    animation: animate 1s linear forwards;
    transform-origin: right;
    animation-delay: 2s;
}
.center div:nth-child(4):before
{
    animation: animate 1s linear forwards;
    transform-origin: left;
    animation-delay: 3s;
}
@keyframes animate
{
    0%
    {
        transform: scaleX(0);
    }
    100%
    {
        transform: scaleX(1);
    }
}
.center div:nth-child(1):after,
.center div:nth-child(3):after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.2);
}
.center div h2
{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 10;
    opacity: 0;
    color: #fff;
}
.center div:nth-child(1) h2
{
    animation: fadeText 0.5s linear forwards;
    animation-delay: 1s;
    font-size: 40px;
}
.center div:nth-child(3) h2
{
    animation: fadeText 0.5s linear forwards;
    animation-delay: 3s;
    font-size: 90px;
    font-weight: 800;
}
@keyframes fadeText
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}