@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section #slider
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .navigation
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .navigation li
{
    list-style: none;
    cursor: pointer;
    margin: 10px;
}
section .navigation li img
{
    width: 150px;
    border: 4px solid #fff;
    border-radius: 4px;
}
section h2
{
    position: relative;
    z-index: 100;
    font-size: 4em;
    color: #fff;
    text-align: center;
    max-width: 1000px;
    text-shadow: 0 5px 10px rgba(0,0,0,0.2);
}